@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap') ;

header{
    font-size: smaller;
    z-index: 1;
    margin-right: 15px;
    border-bottom: 1px solid;
    position: fixed;
    top: 0px;
    overflow: hidden;
    width: 100%;   
    height: 35px;
    background-color: rgb(98, 71, 40);
    border-color: black;
}

header > div {
    float: left;
    margin-right: 50px;
    position: relative;
    top: 7px;
    color: aliceblue;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: x-large;
    }

div > a{
    color:aliceblue;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    background-image: url(cookie.webp);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: #d1bca2;
    color: white;

}

.container
{
    margin-top: 35px;
    display: flex;
    flex-direction: row;

}

main > div{
    padding: 2%;
    margin: 0.4%;
    width: 49%;
    height: 100%;
    border: 1px solid black;
    color:black;
    background-color: rgba(210, 180, 150, 0.75);
}

.text{
    width: 15px;
    margin-right: 25px;
    height: 15px;
}

.text2{
    width: 141px;
    /* height: 50px; */
}

div > p{
    margin: 15px;
}
input{
    margin: 15px;
}
.right{
    float: right;
}
.radio{
    margin-right: 25%
}

button > a{
    color: black;
    text-decoration: none;
}

.a{
    color: black;
    text-decoration: none;
}
a{
    text-decoration: none;
}

.foot{
    color: aliceblue;
    position: fixed;
    bottom: 0px;
    background-color: rgb(98, 71, 40);
    width: 100%;
    float: left;
    font-family: "Poppins", sans-serif;
    font-style: italic;
    height: 75px;
    text-align: center;
   }